
*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;/*border area will input into the content area */

}
p{
    margin: 0;
}
.navbar{
    height: 60px;
    width:100%;
    background-color: #131921;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 60px;
    width: 100px;
    
}
.logo{
    background-image: url(/Shopping-Website/photos/amazon_logo.png);
    height: 60px;
    width:100%;
    background-size: cover;
}
.border{
    border:1.5px solid transparent;
}
.borderhover:hover {
    border: 1.5px solid white;
}
.location{
    padding-left: 8px;
    padding-right: 8px;

}
.del-1{
    font-size:  0.7rem;
    color:#cccccc;
    margin-left: 15px;
}
.del-2{
    font-size: 1rem;
  
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 620px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
  
}
.search:hover{
    border:2px solid darkgoldenrod;

}
.select {
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search {
    height: 40px;
    padding: 0px;
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon {
    display: flex;
    width: 45px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:#febd69;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border:none;
    font-size: 1.2rem;
    
   
}
.search-icon:hover{
    background-color: darkgoldenrod;
}
.select:hover{
    background-color: #cccccc;
}
.signin{
    padding-left: 8px;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.8rem;
    font-weight: 700;
}
.nav-cart i { 
    font-size: 35px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    display: flex;
    background-color: #232f3e;
    height: 40px;
    border:none;
    color:white;
    align-items: center;
    justify-content: start;
    
}
.panel-ops{
    width: 70%;
    justify-content: space-between;
    margin-left: 5px;
}
.panel-ops p{
    display:inline;
    margin-left: 3px;
    font-size: 0.85rem;
    justify-content: space-evenly;
}
.panel-deals{
    font-weight: 700;
    font-size: 0.85rem;
}
.panel-all i{
    margin-right: 3px;
}
.panel-all{
    font-size: 0.85rem;
    margin-left: 4px;
    margin-right:5px;
}
.panel-deals{
    justify-content: end;
}
.hero-section {
    height:600px;
    width: 100%;
    background-image: url(/Shopping-Website/photos/hero_image.jpg);
    background-size: cover;
}
.hero-desc{
    display: flex;
    background-color: white;
    color: black;
    height:40px;
    align-items: center;
    justify-content: center;  
    font-size: 0.85rem;  
    position: relative;
    top: 40%;
    width:95%;
    left: 2.5%;
}
.hero-desc a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top:50%;
    justify-content: space-evenly;
    background-color: #232f3e;
}
.box{
    margin-top: 8px;
    height: 350px;
    width: 23%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;

}
.box h2{
    position: relative;
    left: 5%;
    font-size: 1.2rem;
    margin-bottom: 5px;
   
    
}
.box-img{
    
    height: 303px; 
    width: 90%;
    position: relative;
    background-size: cover;
    left: 5%;
    margin: 0px;
    
}
.box p{
    color: #007181 ;
    position: relative;
    top: 3%;
    left: 5%;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #374758;
    color: white;
    width: 100%;
    border: none;
}
body{
    min-height:100vh;
}
.main-footer{
    position:absolute;
    top:175%;
}
footer{
    
    position: sticky;
    top: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.foot:hover{
    background-color:#45617e ;
}
.foot2{
    display: flex;
    background-color: #222f3d;
    color: white;
    height: 270px;
    justify-content: space-evenly;

}
.foot2 p{
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 5px;
    margin-bottom: 8px;
    color: #dddddd;
}
ul a:hover{
    text-decoration: underline;
}
.foot3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid white;
    height: 68px;
    background-color: #222f3d;
}
.logo{
    background-image: url(/Shopping-Website/photos/amazon_logo.png);
    height: 60px;
    width:100px;
    background-size: cover;
}
.foot4{
    background-color: #131A22;
    height: 70px;
    color: white;
    font-size: 0.85rem;
}
.copyright{
    display: flex;
    justify-content: center;
}
.copyright a{
    margin-top: 10px;
    margin-right: 25px;
}
.copyright2{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
.lang{
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0.2px solid white;
    height: 33.6px;
    width:100px;
    font-size: 0.85rem;
    border-radius: 6px;

}
.lang i{
    font-size: 1.0rem;
    color: white;
    margin-right: 5px;
}
.currency{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0.2px solid white;
    height: 33.6px;
    width:120px;
    font-size: 0.85rem;
    border-radius: 6px;

}
.country{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0.2px solid white;
    height: 33.6px;
    width:120px;
    font-size: 0.85rem;
    border-radius: 6px;
}

/*gaming page */
.section1{
    width:100%;
    height:100px;
    border-bottom: 1px solid black;
}
.section1 p{
    padding-top:20px;
    margin-left:40px;
    font-weight: 700;
    font-size:1.5rem;
}
.section1 p span{
    font-size: 1.2rem;
}
.results{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.filter{
    margin:0;
    height:1942.2px;
    width:250px;
    
}
.product{
    
    margin-left:15px;
    height:1942.2px;
    width:100%;
   
}
.items{
    margin-top:15px;
    display:flex;
    
    width: 100%;
    height:200px;
    
}
.item-img{
    margin:0;
    width: 200px;
    height:200px;
}
img{
    width: 200px;
    height:200px;
    object-fit: contain;
}
.info-product{
    margin:0;
    width: 100%;
    height:200px;
   
}
.info-product p{
    margin-left:10px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}
.filter h3{
    margin-top: 10px;
    margin-left: 10px;
}
.filter p{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}